#app {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	max-width: 1048px;
	padding: 16px;

	#summary {
		display: grid;
		grid-template-columns: 320px auto;
		grid-template-areas: "chart accounts" "chains chains";
		gap: 16px;

		#summary-chart {
			grid-area: chart;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 240px;
			padding: 0px 48px;
		}

		#summary-accounts {
			grid-area: accounts;

			button {
				background-color: transparent;
				border: 0px;
				border-radius: 0.5em;

				&:hover {
					background-color: rgba(#cef, 0.25);
				}
			}

			input {
				width: 100%;
				max-width: 420px;
				border: 0px;
				border-radius: 0.5em;
				background-color: rgba(#cef, 0.25);
				color: #cef;
			}
		}

		#summary-chains {
			grid-area: chains;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 12px;
			width: 100%;

			.summary-chain {
				display: flex;
				align-items: center;
				gap: 4px;
				border-radius: 0.5em;
				padding: 0.5em;
				font-size: 10px;
				cursor: default;

				&:hover {
					background-color: rgba(#cef, 0.25);
				}

				&.selected {
					background-color: rgba(#cef, 0.4);
				}

				img {
					width: 16px;
					height: 16px;
				}
			}
		}
	}

	#snapshot-select {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12px;
		width: 100%;

		select {
			background-color: #012;
			color: #cef;
			border: 1px;
			border-radius: 0.5em;
		}
	}

	#assets {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0.8em;
		border-radius: 0.8em;
		background: rgba(#cef, 0.25);

		#assets-header {
			display: flex;
			align-items: center;
			justify-content: space-between;

			h2 {
				margin: 0px;
	
				.light {
					font-size: 0.7em;
					opacity: 0.6;
				}
			}

			#asset-hide {
				padding-right: 0.8em;
			}
		}

		#assets-list {
			display: grid;
			grid-template-columns: auto 100px 100px 184px;
			row-gap: 8px;
			column-gap: 12px;
			width: 100%;
			padding: 16px 0px;

			& > * {
				white-space: nowrap;
			}

			h4 { margin: 0px; }

			.asset-header {
				font-weight: bold;
			}

			.asset-token {
				display: flex;
				gap: 8px;
				align-items: center;

				.asset-icon {
					img {
						width: 24px;
						height: 24px;
					}
				}
	
				.asset-name {
					max-width: calc(100% - 120px);
					overflow: hidden;
					text-overflow: ellipsis;
					font-weight: bold;
				}

				.asset-symbol {
					max-width: 80px;
					overflow: hidden;
					text-overflow: clip;
					opacity: 0.6;
				}
			}

			.asset-amount {
				max-width: 64px;
			}

			.asset-price {
				max-width: 64px;
			}

			.asset-value {
				max-width: 64px;
			}
		}
	}

	#snapshot-button {
		display: flex;
		justify-content: center;
		width: 100%;

		button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 16px 24px;
			border-radius: 0.5em;
			font-size: 14px;
			font-weight: bold;
		}
	}
}